.searchHeader {
  padding: 0 60px;
  height: 100px;
  .headerInner {
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 0;
    .mainHeader {
      position: relative;
      display: flex;
      align-items: center;
      &__icon {
        padding-bottom: 10px;
        margin-right: 30px;
        border-radius: 4px;
        a {
          width: 140px;
          display: flex;
          img {
            width: 100%;
            vertical-align: bottom;
          }
        }
      }
      .searchBox {
        margin-left: auto;
        width: 100%;
        form {
          width: 100%;
          display: flex;
          margin-bottom: 5px;
          input {
            width: calc(100% - 26px);
            height: 36px;
            padding: 0 0 0 5px;
          }
          button {
            width: 36px;
            border: 0;
            cursor: pointer;
            background-color: $mainBlueColor;
            padding: 8px;
            .searchBox__icon {
              margin: 0;
              padding: 0;
              img {
                width: 100%;
                vertical-align: bottom;
              }
            }
          }
        }
      }
    }
    .nav {
      font-size: 14px;
      display: flex;
      margin-bottom: 10px;
      .listsLeft {
        z-index: 11;
        position: relative;
        display: flex;
        &__item--first {
          width: 100px;
          text-decoration: none;
          padding-right: 8px;
          line-height: 38px;
          a {
            @include listsLeft-a();
          }
        }
        &__item {
          line-height: 38px;
          padding: 0 0 0 16px;
          a {
            @include listsLeft-a();
          }
        }
      }
      .listsRight {
        margin-left: auto;
        display: flex;
        &__item--mypage{
          @include listsRight-item();
        }
        &__item--login {
          @include listsRight-item();
        }
        &__item--new {
          @include listsRight-item();
        }
      }
    }
  }
}

.category{
  width: 650px;
  z-index: 10;
  position: relative;
  display: flex;
  &-first{
    display: none;
    width: 200px;
    &__tree{
      background-color: white;
      padding-left: 10px;
      border: 1px solid whitesmoke;
    }
  }
  &-second{
    display: none;
    width: 200px;
    &__tree{
      background-color: white;
      padding-left: 10px;
      border: 1px solid whitesmoke;
    }
  }
  &-third{
    display: none;
    width: 250px;
    &__tree{
      background-color: white;
      padding-left: 10px;
      border: 1px solid whitesmoke;
    }
  }
}
