.header
  .header__logo
    = image_tag '/assets/logo.png', size: "140x40", alt: "test"
.contents
  .contents__head
    購入内容の確認
  .contents__item
    .contents__item__image
      = image_tag '/assets/a007.png', size: "100x100", alt: "test"
    .contents__item__info
      .contents__item__info__name
        product1
      .contents__item__info__price
        .contents__item__info__price__amount
          1,000円
        .contents__item__info__price__shippingFee
          (税込) 送料込み
  .contents__form
    .contents__form__amount
      .contents__form__amount__head
        支払金額
      .contents__form__amount__price
        1,000円
    .contents__form__creditCard
      .contents__form__creditCard__head
        支払方法
      .contents__form__creditCard__way
        クレジットカード
      .contents__form__creditCard__number
        1234567890
      .contents__form__creditCard__expirationDate
        03/21
    .contents__form__shipping
      .contents__form__shipping__head
        配送先
      .contents__form__shipping__postcode
        〒111-2222
      .contents__form__shipping__address
        東京都渋谷区1-2-3 フォンティス10F
      .contents__form__shipping__name
        山田太郎
    .contents__form__submit
      %button.contents__form__submit-btn 購入する

.footer
