.top
  .top__header
    = link_to image_tag("logo.png",class:"image_logo"),root_path, class: "top__header__btn" 
  .top__main
    .top__main__center
      .top__main__center__img-uplode
      .top__main__center__items
      .top__main__center__deta
      .top__main__center__delivery
      .top__main__center__xhibition
  .top__footer