.kind__list{
  width: 100%;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  position: relative;
  padding: 0 60px;
  & ul{
    padding: 17px 0 16px;
    width: 100%;
    max-width: 1040px;
    font-size: 14px;
    margin: 0 auto;
    height: 21px;
  }
  & li{
    padding-right: 10px;
    float: left;
  }
  & li:last-child{
    font-weight: bold;
  }
  & a{
    text-decoration: none;
    color: #333;
    .fa{
      display: inline-block;
      font: normal normal normal 14px;
      font-family: FontAwesome;
      line-height: 1;
      font-size: inherit;
      font-weight: normal;
      -webkit-font-smoothing: antialiased;
    }
  }
}
.item__main{
  background: #f8f8f8;
  &--box{
    padding: 40px;
    margin: 0 auto;
    &-right{
      width: 700px;
      margin: 0 auto;
      .item__box{
        &--top{
          background-color: #fff;
          padding: 24px 40px 40px;
          &-name{
            text-align: center;
            font-weight: bold;
            font-size: 24px;
          }
          &-body{
            margin-top: 16px;
            & ul{
              display: flex;
              position: relative;
            }
            & li{
              display: flex;
              flex-direction: column;
              width: 560px;
              align-items: center;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
}



