

.top__header{
  height: 128px;
  width: 100vw;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  .image_logo{
    height: 49px;
    width: 185px;
  }
}

.top__main{
  height: 2116px;
  width: 100vw;
  background-color: green;
  &__center{
    height:2116px;
    width: 50vw;
    background-color: purple;
    margin: auto;
    &__img-uplode{
      height: 300px;
      width: 50vw;
      background-color: white;
    }
    &__items{
      height: 416px;
      width: 50vw;
      background-color: yellow;
    }
    &__deta{
      height: 444px;
      width: 50vw;
      background-color: yellowgreen;
    }
    &__delivery{
      height: 444px;
      width: 50vw;
      background-color: yellow;
    }
  }
}

.top__footer{
  width: 100vw;
  height: 220px;
  background-color: blue;
}