$mainWhiteColor     : #fff;
$mainbackColor      : #f5f5f5;
$maingrayColor      : #888;
$mainblueColor      : #3ccace;
$maingray2Color     : #ccc;

.member-body{
  min-height: 100%;
  background-color: $mainbackColor;
  font-size: 14px;
  line-height: 1;
  font-family: Helvetica, Arial, sans-serif;
  .member-case{
    padding-bottom: 220px;
    width: 700px;
    margin: 0 auto;
    .member-header{
      height: 128px;
      display: flex;
      justify-content: space-around;
      font-size: 12px;
      &__logo{
        margin-top: 40px;
        &--image{
          width: 185px;
          height: 50px;
        }
      }
      
      &__progress{
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        list-style: none;
        position: relative;
        &--text{
          z-index: 1;
          margin-right: 40px;
          color: $mainglayColor;
        }
        &--active{
          @extend .member-header__progress--text;
          color: $mainblueColor;
          font-weight: 600;

        }
        &--text-last{
          @extend .member-header__progress--text;
          margin-left: 20px;
        }
        &--round{
          background-color: $maingray2Color;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          margin: 8px auto 0;
        }
        &--round-blue{
          @extend .member-header__progress--round;
          background-color: $mainblueColor;
        }
        &--border{
          top: 25px;
          left: 20px;
          width: 240px;
          position: absolute;
          height: 2px;
          background: $maingray2Color;
        }
      }
    }
    .member-form{
      background-color: $mainWhiteColor;
      &__title{
        border-bottom: 1px solid $mainbackColor;
       &--text{
         font-size: 25px;
         padding-top: 32px;
         line-height: 1.5;
         text-align: center;
         font-weight: 600;
       }
      }
      &__title2{
        padding: 40px 64px;
        border-bottom: 1px solid $mainbackColor;
        text-align: center;
        &--text2{
          font-size: 14px;
          margin-bottom: 24px;
        }
        &--btn{
          margin: 0 auto;
          border: 1px solid $mainblueColor;
          background: $mainblueColor;
          color: $mainWhiteColor;
          line-height: 48px;
          padding: 16px 128px;
          text-decoration: none;
        }
      }
      &__for{
        padding: 24px 16px 40px;
        .member-main{
          max-width: 343px;
          margin: 0 auto;
          &__form{
            margin-top: 24px;
            &--label{
              font-weight: 600;
            }
            &--require{
              background-color: $mainblueColor;
              margin-left: 8px;
              padding: 3px 5px;
              color: $mainWhiteColor;
              font-size: 12px;
              vertical-align: top;
            }
            &--input{
              width: 328px;
              margin-top: 8px;
              height: 48px;
              padding-left: 16px;
              border: 1px solid $maingray2Color;
              font-size: 16px;
            }
            &--input-half{
              @extend .member-main__form--input;
              width: calc(50% - 6px);
              margin-right: 8px;
            }
            &--info{
              margin-top: 8px;
              line-height: 2.0;
              color: $maingrayColor;
            }
            &--identify{
              font-size: 16px;
              font-weight: 600;
            }
            &--text{
              margin-top: 8px;
              line-height: 1.5;
            }
            &--birth_day{
              margin-top: 8px;
              height: 30px;
              font-size: 18px;
            }
            .year,.month,.day{
              height: 48px;
              width: 76px;
              background-color: $mainWhiteColor;
            }
            &--text-center{
              padding-top: 24px;
              line-height: 1.5;
              text-align: center;
            }
            &--btn{
              margin-top: 24px;
              background-color: $mainblueColor;
              border: 1px solid $mainblueColor;
              color: $mainWhiteColor;
              width: 100%;
              line-height: 48px;
              font-size: 16px;
            }
          }
          &__form--half{
            @extend .member-main__form;
            display: flex;
            margin: 0;
          }
        }
      }
      &__top{
        margin: 0 auto;
        &--btn{
          background-color: $mainblueColor;
        }
      }
    }
    .member-footer{
      width: 456px;
      height: 220px;
      margin: 0 auto;
      position: absolute;
      right: 0;
      left: 0;
      text-align: center;
    }
  }
}

