$mainWhiteColor: #FFF;
$mainGrayColor: #f8f8f8;
$mainBlueColor: #48D1CC;
$fontSizeBig: 20px;
$fontSizeMiddle: 15px;
$fontSizeSmall: 12px;
$fontSizeVerySmall: 10px;

.header{
  height: 100px;
  width: 100vw;
  text-align: center;
  background-color: $mainWhiteColor;
  &-logo{
    padding-top: 30px;
  }
}

.contents{
  height: 800px;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
  background-color: $mainWhiteColor;
  &__head{
    height: 100px;
    width: 300px;
    line-height: 100px;
    font-size: 30px;
    padding: 0px 150px;
    margin:  0 auto; 
    text-align: center;
    font-weight: bold;
    background-color: $mainGrayColor;
    border: solid 1px $mainBlueColor;
    border-width:0 0 1px 0;
  }
  &__item{
    height: 200px;
    width: 300px;
    padding: 0px 150px;
    margin:  0 auto; 
    display: flex;
    justify-content: center;
    background-color: $mainGrayColor;
    border: solid 1px $mainBlueColor;
    border-width:0 0 1px 0;
    &__image{
      height: 130px;
      width: 50%;
      margin-top: 20px;
      padding-top: 20px;
      text-align: center;
    }
    &__info{
      height: 130px;
      width: 50%;
      padding: 10px 10px;
      margin: 20px 0 0 10px;
      &__name{
        height: 30px;
        width: 100%;
        margin-top: 20px;
        line-height: 30px;
        text-align: center;
      }
      &__price{
        height: 30px;
        width: 100%;
        font-size: $fontSizeSmall;
        margin-top: 10px;
        line-height: 30px;
        display: flex;
        justify-content: center;
        font-weight: bold;
      }
    }
  }
  &__form{
    height: auto;
    width: 300px;
    padding: 10px 150px;
    margin-bottom: 50px;
    margin: 0 auto;
    background-color: $mainGrayColor;
    &__amount{
      height: auto;
      width: 100%;
      padding: 25px 0px;
      display: flex;
      justify-content: space-between;
      border: solid 1px $mainBlueColor;
      border-width:0 0 1px 0;
      &-head{
        font-size: $fontSizeBig;
        font-weight: 600;
      }
      &-price{
        font-size: $fontSizeBig;
        font-weight: 600;
      }
    }
    &__credit_card{
      height: 80px;
      width: 100%;
      padding: 15px 0px;
      font-size: $fontSizeSmall;
      border: solid 1px $mainBlueColor;
      border-width:0 0 1px 0;
      &-head{
        font-size: $fontSizeMiddle;
        font-weight: bold;
      }
    }
    &__shipping{
      height: 80px;
      width: 100%;
      padding: 15px 0px;
      font-size: $fontSizeSmall;
      border: solid 1px $mainBlueColor;
      border-width:0 0 1px 0;
      &__head{
        font-size: $fontSizeMiddle;
        font-weight: bold;
      }

    }
    &__submit{
      height: 50px;
      width: 100%;
      padding: 25px 0 15px 0px;
      line-height: 50px;
      text-align: center;
      &-btn{
        font-size: 20px;
        padding: 10px 100px;
        font-weight: bold;
        color: $mainWhiteColor;
        background-color: $mainBlueColor;
      }
    }
  }
}

.footer{
  height: 200px;
  width: 100vw;
  background-color: purple;
}